{
  "log": {
    "_recordingName": "fetch-hosts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "24b421b64c997bf21cf92690f9cfefb5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://fleetdm.dev.jupiterone.io/api/v1/fleet/login"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 474,
            "text": "{\"user\":{\"id\":1,\"name\":\"sample user\",\"email\":\"sample@userland.net\",\"global_role\":\"admin\",\"teams\":[],\"created_at\":\"2023-01-01T00:00:00Z\",\"updated_at\":\"2023-01-01T00:00:00Z\",\"api_only\":true},\"token\":\"[REDACTED]\",\"message\":\"\",\"available_teams\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609,
      },
      {
        "_id": "31e8253862e50e674683a55bdfdcf3fa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://fleetdm.dev.jupiterone.io/api/v1/fleet/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4709,
            "text": "{\n  \"org_info\": {\n    \"org_name\": \"JupiterOne Integration Testing\",\n    \"org_logo_url\": \"\",\n    \"org_logo_url_light_background\": \"\",\n    \"contact_url\": \"https://fleetdm.com/company/contact\"\n  },\n  \"server_settings\": {\n    \"server_url\": \"https://fleetdm.dev.jupiterone.io\",\n    \"live_query_disabled\": false,\n    \"enable_analytics\": true,\n    \"deferred_save_host\": false\n  },\n  \"smtp_settings\": {\n    \"enable_smtp\": false,\n    \"configured\": false,\n    \"sender_address\": \"\",\n    \"server\": \"\",\n    \"port\": 587,\n    \"authentication_type\": \"authtype_username_password\",\n    \"user_name\": \"\",\n    \"password\": \"\",\n    \"enable_ssl_tls\": true,\n    \"authentication_method\": \"authmethod_plain\",\n    \"domain\": \"\",\n    \"verify_ssl_certs\": true,\n    \"enable_start_tls\": true\n  },\n  \"host_expiry_settings\": {\n    \"host_expiry_enabled\": false,\n    \"host_expiry_window\": 0\n  },\n  \"features\": {\n    \"enable_host_users\": true,\n    \"enable_software_inventory\": true\n  },\n  \"agent_options\": {\n    \"config\": {\n      \"options\": {\n        \"pack_delimiter\": \"/\",\n        \"logger_tls_period\": 10,\n        \"distributed_plugin\": \"tls\",\n        \"disable_distributed\": false,\n        \"logger_tls_endpoint\": \"/api/osquery/log\",\n        \"distributed_interval\": 10,\n        \"distributed_tls_max_attempts\": 3\n      },\n      \"decorators\": {\n        \"load\": [\n          \"SELECT uuid AS host_uuid FROM system_info;\",\n          \"SELECT hostname AS hostname FROM system_info;\"\n        ]\n      }\n    },\n    \"overrides\": {}\n  },\n  \"sso_settings\": {\n    \"entity_id\": \"\",\n    \"issuer_uri\": \"\",\n    \"metadata\": \"\",\n    \"metadata_url\": \"\",\n    \"idp_name\": \"\",\n    \"idp_image_url\": \"\",\n    \"enable_sso\": false,\n    \"enable_sso_idp_login\": false,\n    \"enable_jit_provisioning\": false,\n    \"enable_jit_role_sync\": false\n  },\n  \"fleet_desktop\": {\n    \"transparency_url\": \"https://fleetdm.com/transparency\"\n  },\n  \"vulnerability_settings\": {\n    \"databases_path\": \"\"\n  },\n  \"webhook_settings\": {\n    \"host_status_webhook\": {\n      \"enable_host_status_webhook\": false,\n      \"destination_url\": \"\",\n      \"host_percentage\": 0,\n      \"days_count\": 0\n    },\n    \"failing_policies_webhook\": {\n      \"enable_failing_policies_webhook\": false,\n      \"destination_url\": \"\",\n      \"policy_ids\": null,\n      \"host_batch_size\": 0\n    },\n    \"vulnerabilities_webhook\": {\n      \"enable_vulnerabilities_webhook\": false,\n      \"destination_url\": \"\",\n      \"host_batch_size\": 0\n    },\n    \"interval\": \"24h0m0s\"\n  },\n  \"integrations\": {\n    \"jira\": null,\n    \"zendesk\": null\n  },\n  \"mdm\": {\n    \"apple_bm_default_team\": \"\",\n    \"apple_bm_enabled_and_configured\": false,\n    \"apple_bm_terms_expired\": false,\n    \"enabled_and_configured\": false,\n    \"macos_updates\": {\n      \"minimum_version\": null,\n      \"deadline\": null\n    },\n    \"macos_settings\": {\n      \"custom_settings\": null,\n      \"enable_disk_encryption\": false\n    },\n    \"macos_setup\": {\n      \"bootstrap_package\": null,\n      \"enable_end_user_authentication\": false,\n      \"macos_setup_assistant\": null\n    },\n    \"macos_migration\": {\n      \"enable\": false,\n      \"mode\": \"\",\n      \"webhook_url\": \"\"\n    },\n    \"end_user_authentication\": {\n      \"entity_id\": \"\",\n      \"issuer_uri\": \"\",\n      \"metadata\": \"\",\n      \"metadata_url\": \"\",\n      \"idp_name\": \"\"\n    },\n    \"windows_enabled_and_configured\": false\n  },\n  \"update_interval\": {\n    \"osquery_detail\": 3600000000000,\n    \"osquery_policy\": 3600000000000\n  },\n  \"vulnerabilities\": {\n    \"databases_path\": \"/tmp/vulndbs\",\n    \"periodicity\": 3600000000000,\n    \"cpe_database_url\": \"\",\n    \"cpe_translations_url\": \"\",\n    \"cve_feed_prefix_url\": \"\",\n    \"current_instance_checks\": \"auto\",\n    \"disable_data_sync\": false,\n    \"recent_vulnerability_max_age\": 2592000000000000,\n    \"disable_win_os_vulnerabilities\": false\n  },\n  \"license\": {\n    \"tier\": \"free\",\n    \"expiration\": \"0001-01-01T00:00:00Z\"\n  },\n  \"logging\": {\n    \"debug\": false,\n    \"json\": true,\n    \"result\": {\n      \"plugin\": \"filesystem\",\n      \"config\": {\n        \"status_log_file\": \"/tmp/osquery_status\",\n        \"result_log_file\": \"/tmp/osquery_result\",\n        \"audit_log_file\": \"/tmp/audit\",\n        \"enable_log_rotation\": false,\n        \"enable_log_compression\": false,\n        \"max_size\": 500,\n        \"max_age\": 28,\n        \"max_backups\": 3\n      }\n    },\n    \"status\": {\n      \"plugin\": \"filesystem\",\n      \"config\": {\n        \"status_log_file\": \"/tmp/osquery_status\",\n        \"result_log_file\": \"/tmp/osquery_result\",\n        \"audit_log_file\": \"/tmp/audit\",\n        \"enable_log_rotation\": false,\n        \"enable_log_compression\": false,\n        \"max_size\": 500,\n        \"max_age\": 28,\n        \"max_backups\": 3\n      }\n    },\n    \"audit\": {\n      \"plugin\": \"\",\n      \"config\": null\n    }\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241,
      },
      {
        "_id": "4ac3fadeef1d13d820436c799947e3cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "per_page",
              "value": "250"
            }
          ],
          "url": "https://fleetdm.dev.jupiterone.io/api/v1/fleet/hosts?page=0&per_page=250"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3934,
            "text": "{\"hosts\":[{\"created_at\":\"2023-08-09T19:22:34Z\",\"updated_at\":\"2023-08-18T19:40:53Z\",\"software_updated_at\":\"2023-08-18T19:40:53Z\",\"id\":1,\"detail_updated_at\":\"2023-08-18T19:40:54Z\",\"label_updated_at\":\"2023-08-18T19:40:54Z\",\"policy_updated_at\":\"2023-08-18T19:40:54Z\",\"last_enrolled_at\":\"2023-08-09T19:22:36Z\",\"seen_time\":\"2023-08-18T20:06:36Z\",\"refetch_requested\":false,\"hostname\":\"host0\",\"uuid\":\"65956f60-7783-40e3-872b-d148372d2a3e\",\"platform\":\"darwin\",\"osquery_version\":\"5.9.1\",\"os_version\":\"macOS 13.5\",\"build\":\"22G74\",\"platform_like\":\"darwin\",\"code_name\":\"\",\"uptime\":967589000000000,\"memory\":34359738368,\"cpu_type\":\"arm64e\",\"cpu_subtype\":\"ARM64E\",\"cpu_brand\":\"Apple M1 Pro\",\"cpu_physical_cores\":10,\"cpu_logical_cores\":10,\"hardware_vendor\":\"Apple Inc.\",\"hardware_model\":\"MacBookPro18,1\",\"hardware_version\":\"\",\"hardware_serial\":\"SERIAL0\",\"computer_name\":\"name0\",\"public_ip\":\"127.0.0.1\",\"primary_ip\":\"127.0.0.1\",\"primary_mac\":\"00:00:00:00:00:00\",\"distributed_interval\":10,\"config_tls_refresh\":60,\"logger_tls_period\":10,\"team_id\":null,\"pack_stats\":null,\"team_name\":null,\"gigs_disk_space_available\":761.86,\"percent_disk_space_available\":76,\"issues\":{\"total_issues_count\":2,\"failing_policies_count\":2},\"mdm\":{\"enrollment_status\":\"On (automatic)\",\"server_url\":\"https://mdm-prod.addigy.com/mdm/connect\",\"name\":\"\",\"encryption_key_available\":false},\"refetch_critical_queries_until\":null,\"status\":\"online\",\"display_text\":\"display0\",\"display_name\":\"display0\"},{\"created_at\":\"2023-08-11T18:07:34Z\",\"updated_at\":\"2023-08-18T19:29:53Z\",\"software_updated_at\":\"2023-08-15T06:32:20Z\",\"id\":2,\"detail_updated_at\":\"2023-08-18T19:29:53Z\",\"label_updated_at\":\"2023-08-18T19:29:53Z\",\"policy_updated_at\":\"2023-08-18T19:29:53Z\",\"last_enrolled_at\":\"2023-08-11T18:07:35Z\",\"seen_time\":\"2023-08-18T20:06:28Z\",\"refetch_requested\":false,\"hostname\":\"host1\",\"uuid\":\"4d6a5d1a-b038-4962-af31-a3f78207e34b\",\"platform\":\"ubuntu[...]
